<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson_6</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="header_contacts">
            <div class="header_contacts_menu">
                <a href="index.html">Главная</a>
                <a href="contacts.html">Контакты</a>
            </div>
            <div class="header_contacts_content">
                <h2 class="style_h2">Contact Us</h2>
                <p class="paragraf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, aspernatur!</p>
            </div>
        </div>

        <div class="body_contacts container">
            <div class="body_contacts_content content_body">
                <div class="body_contacts_info">
                    <div class="body_contacts_image">
                        <img src="image/350px-Suprematist_Composition_-_Kazimir_Malevich.jpg" alt="image">
                    </div>
                    <div class="body_contacts_adress">
                        <h4 class="style_h4">Adress</h4>
                        <p class="paragraf">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="body_contacts_phone">
                        <h4 class="style_h4">Phone</h4>
                        <ol>
                            <li>89982646548</li>
                            <li>89879987988</li>
                        </ol>
                    </div>
                    <div class="body_contacts_service">
                        <h4 class="style_h4">Online service</h4>
                        <ul>
                            <li><a href="https://geekbrains.ru/study_groups/19140/homeworks/105105"
                                    target="_blank">Сайт</a>
                            </li>
                            <li><a href="https://mail.yandex.ru/?uid=166539239#inbox?extra_cond=only_new"
                                    target="_blank">Почта</a>
                            </li>
                            <li>г. Волгоград</li>
                            <li>89999999999</li>
                        </ul>
                    </div>
                </div>
                <div class="body_contacts_form">
                    <form action="#">
                        <h4 class="style_h4">Send us massage</h4>
                        Full name <input class="input" type="text" size="16" placeholder="Ваше имя"><br>
                        Email <input class="input" type="email" name="Email" placeholder="email@mail.ru"><br>
                        Massage <br>
                        <textarea class="input" cols="30" rows="10"></textarea><br>
                        <button class="submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="body_contacts_map content_body">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A3ab1eb1bbd30a6fe8a9363a9434ad2c0afc28abec6ad3e40e0214bb59b47a603&amp;source=constructor"
                    width="1140" height="400" frameborder="0"></iframe>
            </div>
        </div>

        <div class="footer_contacts">
            <footer>
                <div class="footer_contacts_info">
                    <h3 class="style_h3">Заголовок №4</h3>
                    <p class="paragraf">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <hr>
                <div class="footer_contacts_list">
                    <ul>
                        <li>Lorem ipsum dolor sit amet. </li>
                        <li>8999999999</li>
                        <li>email@mail.ru</li>
                    </ul>
                </div>
                <div class="contacts_copyright">
                    <p class="paragraf">Все права защищены</p>
                </div>
            </footer>
        </div>
    </div>


</body>

</html>