<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson_6</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <div class="container top_box">
            <div class="content_header">
                <ul class="menu">
                    <li><a href="index.html"><img src="/static/logo.svg" alt="logo"></a></li>
                    <li><a href="contacts.html"><img src="/static/Vector.svg" alt="contacts"></a></li>
                </ul>
                <div class="info_header">
                    <h1 class="style_h1">New Automation Tool for Your</h1>
                    <p class="paragraf text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid odit
                        accusantium,
                        maiores,
                        cupiditate
                        rerum
                        quod quisquam mollitia necessitatibus eveniet ex ipsum esse alias atque porro, fugit id!
                        Possimus,
                        ea?
                        Perferendis?</p>
                    <a href="#" class="top__button">See Our Project</a>
                </div>
            </div>
        </div>


    </div>
    <div class="what_we_do container">
        <h3 class="style_h3">What we do to help our client grow in digital era</h3>
        <div class="content_body">
            <div class="info_body">
                <img class="info_body_img" src="/static/make.svg" alt="make">
                <h4 class="style_h4">Make Your business To Be Better Famous In Internet</h4>
                <p class="paragraf">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <a class="card__link" href="#">Learn more</a>
            </div>
            <div class="info_body">
                <img class="info_body_img" src="/static/bring.svg" alt="bring">
                <h4 class="style_h4">Bring Technology To Your Comfortabte Home</h4>
                <p class="paragraf">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <a class="card__link" href="#">Learn more</a>
            </div>
            <div class="info_body">
                <img class="info_body_img" src="/static/build.svg" alt="build">
                <h4 class="style_h4">Build Your Digital Product That Suitable For Your Need</h4>
                <p class="paragraf">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <a class="card__link" href="#">Learn more</a>
            </div>

        </div>

        <div class="middle container">
            <h3 class="style_h3">Our Finished Project</h3>
            <p class="paragraf text_middle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="middle__item">
                <img class="middle_img" src="/static/middle_1.png" alt="middle_1">
                <p class="middle__text">Smart Home Installation</p>
            </div>
            <div class="middle__parent">
                <div class="middle__item middle__parent_margin">
                    <img class="middle_img" src="/static/middle_2.png" alt="middle_2">
                    <p class="middle__text middle__text_img2">Sparklite App</p>
                </div>
                <div class="middle__item">
                    <img class="middle_img" src="/static/middle_3.png" alt="middle_3">
                    <p class="middle__text middle__text_img2">Car-Rapetition App</p>
                </div>

            </div>
        </div>


    </div>
    <div class="ending">
        <div class="container">
            <div class="content_ending">
                <div class="info_ending">
                    <h3 class="style_h3 block_1">Interested to woek wuth our team?</h3>
                    <p class="paragraf info_ending_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

                </div>
                <div class="ending_button">
                    <a href="#" class="info_ending_button">Let’s Talk</a>
                </div>


            </div>
        </div>
        <hr class="style_line">
        <div class="footer container">
            <ol class="list_footer info_ending_text info_ending_text_mod">
                <li class="footer_list_mod">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li class="footer_list_mod">+7-812-7313-4321</li>
                <li class="footer_list_mod">hello.site@gmail.com</li>
            </ol>
            <div class="copyright">
                <p class="paragraf info_ending_text info_ending_text_mod_copy">2021 All rights reserved.</p>
            </div>
        </div>

    </div>
</body>

</html>